@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #061a22;
  box-sizing: border-box;
  font-family: "Alatsi", sans-serif;

}
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid red  ; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
